
@font-face{
    font-family: 'Montserrat';
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    font-display: swap;
    font-weight: Bold;
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    font-display: swap;
    font-weight: Medium;
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    font-display: swap;
    font-weight: Bold;
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    font-display: swap;
    font-weight: Medium;
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-style: normal;
}