

.swiper {
    position: relative;
    width: 100%;
}

.swiper-wrapper {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.swiper-content {
    width: 100%;
    display: flex;
    transition: transform 0.3s ease; /* плавная анимация сдвига */
}

.swiper-item {
    flex: 0 0 100%; /* каждый слайд занимает всю ширину .swiper */
    width: 100%;
    height: auto; /* или фиксированная высота */
}

.swiper-item > * {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper-l-arrow,
.swiper-r-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;

    object-fit: contain;
    object-position: center;

    transition:  scale .2s;
}

.swiper-l-arrow {
    left: 5px;
}

.swiper-r-arrow {
    right: 5px;
}




@media (hover:hover) {
    .swiper-l-arrow:hover,
    .swiper-r-arrow:hover {
        scale: 1.07;
    }
}


@media (max-width:760px) {
    .swiper-wrapper {
        width: 100%;
    }

    .swiper-l-arrow,
    .swiper-r-arrow {
        transform: translateY(0);
        top: 100%;
    }

    .swiper-arrows {
        width: fit-content;
        display: flex;
        gap: 20px;
        margin: 20px auto 0;
    }

    .swiper-l-arrow,
    .swiper-r-arrow {
        position: static;
    }
}